@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Anton, sans-serif;
}

body {
  background-color: black;
}

h2 {
  z-index: 5;
}

.nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 20px 0;
  position: fixed;
  z-index: 100;
}
.nav-container .navbar {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 100%;
  padding: 0 5% 0 1%;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 5px #2096C9;
  border: 5px solid #2096C9;
}
.nav-container .navbar .navbar__logo-container {
  width: 20%;
}
.nav-container .navbar .navbar__link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.nav-container .navbar .navbar__link-container .navbar__link-item {
  font-size: 2rem;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-container .navbar .navbar__link-container .active {
  -webkit-text-fill-color: #FFDDF8;
  -webkit-text-stroke: 1px #FF38D3;
  text-shadow: 0px 0px 20px #FFA4EB, 0px 0px 30px #FF38D3;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

.navbar__link-item:hover {
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  -webkit-text-fill-color: #FFF098;
  -webkit-text-stroke: 1px #FFE443;
  text-shadow: 0px 0px 20px #C9B820, 0px 0px 30px #E6EA18;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding-top: 120px;
}
.header-container img {
  width: 50%;
}

.quick-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
}
.quick-link-container h2 {
  font-size: 4rem;
  font-family: Anton, sans-serif;
  color: #BDEBFF;
  font-weight: 100;
  text-transform: uppercase;
  color: #BDEBFF;
  text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
  padding-bottom: 50px;
}
.quick-link-container .quick-link-container__card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 35vh;
  gap: 4rem;
}
.quick-link-container .quick-link-container__card-container .quick-link-card {
  width: 50%;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  padding: 50px 0 0 20px;
  transition: linear 300ms;
  text-decoration: none;
}
.quick-link-container .quick-link-container__card-container .quick-link-card:hover {
  box-shadow: 55px 64px 200px 30px rgba(32, 150, 201, 0.75), -55px -64px 200px 30px rgba(255, 56, 211, 0.75), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 55px 64px 200px 30px rgba(32, 150, 201, 0.75), -55px -64px 200px 30px rgba(255, 56, 211, 0.75), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 55px 64px 200px 30px rgba(32, 150, 201, 0.75), -55px -64px 200px 30px rgba(255, 56, 211, 0.75), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  transition: linear 300ms;
}
.quick-link-container .quick-link-container__card-container .quick-link-card__title {
  font-size: 2rem;
  color: #BDEBFF;
  text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 20px;
  text-decoration: none;
}
.quick-link-container .quick-link-container__card-container p {
  font-size: 1rem;
  color: #BDEBFF;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 20px;
}
.quick-link-container .quick-link-container__card-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 3px solid #2096C9;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}
.quick-link-container .quick-link-container__card-container .quick-link-card--1 {
  background-color: black;
  background-image: url(./images/drnik\ sign.png);
  background-size: cover;
  box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
}
.quick-link-container .quick-link-container__card-container .quick-link-card--2 {
  background-color: black;
  background-image: url(./images/billiards\ card.png);
  background-size: cover;
  box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
}
.quick-link-container .quick-link-container__card-container .quick-link-card--3 {
  background-image: url(./images/burger\ sign\ 1.png);
  background-size: cover;
  box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.about-container h2 {
  font-size: 4rem;
  font-family: Anton, sans-serif;
  color: #BDEBFF;
  font-weight: 100;
  text-transform: uppercase;
  color: #BDEBFF;
  padding-bottom: 50px;
}
.about-container .about-container__content {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: rgba(37, 37, 37, 0.5);
  height: 60vh;
  padding: 50px;
  border-radius: 30px;
}
.about-container .about-container__content .about-container__content-text {
  width: 90%;
}
.about-container .about-container__content p {
  font-size: 1.5rem;
  font-weight: 100;
  color: #BDEBFF;
  width: 90%;
  padding-bottom: 30px;
}
.about-container .about-container__content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 3px solid #2096C9;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.about-container .about-container__content .btn a {
  text-decoration: none;
  color: white;
}
.about-container .about-container__content .about-container__img {
  width: 70%;
  border-radius: 30px;
}

.services-card--1 {
  background-color: black;
  background-image: url(./images/about\ us\ 1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
}

.services-card--2 {
  background-color: black;
  background-image: url(./images/about\ us\ 2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
}

.services-card--3 {
  background-image: url(./images/about\ us\ 3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(255, 56, 211, 0.75);
}

.instagram__orb--pink {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #FF38D3;
  box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(255, 56, 211);
  -moz-box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
  position: relative;
  right: 50%;
  top: 700px;
  z-index: -1;
}

.instagram__orb--blue {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #2096C9;
  box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
  -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  position: relative;
  left: 50%;
  top: 600px;
  z-index: -1;
}

.instagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150vh;
  overflow: hidden;
}
.instagram-container h2 {
  font-size: 4rem;
  font-family: Anton, sans-serif;
  color: #FFDDF8;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
  padding-bottom: 10px;
}
.instagram-container a {
  text-decoration: none;
  font-size: 3rem;
  color: #FF38D3;
}
.instagram-container .instagram__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 90%;
  height: 100%;
  padding: 2%;
}
.instagram-container .instagram__grid-item {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
}
.instagram-container .instagram__grid-item--1 {
  grid-area: 1/1/2/2;
  background-image: url(./images/instagram1.jpg);
  background-size: cover;
  transition: linear 250ms;
  cursor: pointer;
}
.instagram-container .instagram__grid-item--1:hover {
  box-shadow: 55px -64px 200px 30px rgba(4, 0, 255, 0.25), -55px 64px 200px 30px rgba(0, 255, 132, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 55px -64px 200px 30px rgba(4, 0, 255, 0.25), -55px 64px 200px 30px rgba(0, 255, 132, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 55px -64px 200px 30px rgba(4, 0, 255, 0.25), -55px 64px 200px 30px rgba(0, 255, 132, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  transition: linear 250ms;
}
.instagram-container .instagram__grid-item--2 {
  grid-area: 2/1/3/2;
  background-image: url(./images/instagram2.jpg);
  background-size: cover;
  transition: linear 250ms;
  cursor: pointer;
}
.instagram-container .instagram__grid-item--2:hover {
  box-shadow: 55px -64px 200px 30px rgba(255, 0, 0, 0.25), 55px 64px 200px 30px rgba(255, 178, 64, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -55px -64px 200px 30px rgba(255, 0, 0, 0.25), 55px 64px 200px 30px rgba(255, 178, 64, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 55px -64px 200px 30px rgba(255, 0, 0, 0.25), 55px 64px 200px 30px rgba(255, 178, 64, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  transition: linear 250ms;
}
.instagram-container .instagram__grid-item--3 {
  grid-area: 1/2/3/3;
  background-image: url(./images/instagram3.jpg);
  background-size: cover;
  transition: linear 250ms;
  cursor: pointer;
}
.instagram-container .instagram__grid-item--3:hover {
  box-shadow: 55px -64px 200px 30px rgba(0, 209, 255, 0.25), 55px 64px 200px 30px rgba(255, 184, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -55px -64px 200px 30px rgba(0, 209, 255, 0.25), 55px 64px 200px 30px rgba(255, 184, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 55px -64px 200px 30px rgba(0, 209, 255, 0.25), 55px 64px 200px 30px rgba(255, 184, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  transition: linear 250ms;
}
.instagram-container .instagram__grid-item--4 {
  grid-area: 1/3/2/4;
  background-image: url(./images/instagram4.jpg);
  background-size: cover;
  transition: linear 250ms;
  cursor: pointer;
}
.instagram-container .instagram__grid-item--4:hover {
  box-shadow: 55px -64px 200px 30px rgba(250, 255, 0, 0.25), 55px 64px 200px 30px rgba(255, 199, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -55px -64px 200px 30px rgba(250, 255, 0, 0.25), 55px 64px 200px 30px rgba(255, 199, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 55px -64px 200px 30px rgba(250, 255, 0, 0.25), 55px 64px 200px 30px rgba(255, 199, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  transition: linear 250ms;
}
.instagram-container .instagram__grid-item--5 {
  grid-area: 2/3/3/4;
  background-image: url(./images/instagram5.jpg);
  background-size: cover;
  transition: linear 250ms;
  cursor: pointer;
}
.instagram-container .instagram__grid-item--5:hover {
  box-shadow: 55px -64px 200px 30px rgba(255, 138, 0, 0.25), 55px 64px 200px 30px rgba(255, 0, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -55px -64px 200px 30px rgba(255, 138, 0, 0.25), 55px 64px 200px 30px rgba(255, 0, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 55px -64px 200px 30px rgba(255, 138, 0, 0.25), 55px 64px 200px 30px rgba(255, 0, 0, 0.25), 0px 0px 22px 0px rgba(255, 255, 255, 0.75);
  transition: linear 250ms;
}

.about-blue-orb {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #2096C9;
  box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
  -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  position: relative;
  left: 50%;
  top: 400px;
  z-index: -1;
}

.about-blue-orb-2 {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #2096C9;
  box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
  -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  position: relative;
  left: 55%;
  top: 300px;
  z-index: -1;
}

.about-pink-orb {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #FF38D3;
  box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(255, 56, 211);
  -moz-box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
  position: relative;
  right: 55%;
  top: 300px;
  z-index: -1;
}

.about-header {
  height: 100vh;
  padding-top: 150px;
  margin-bottom: 20vh;
}
.about-header img {
  width: 80%;
}

.about-testimonial {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  height: 40vh;
  overflow: hidden;
}
.about-testimonial p {
  font-weight: 10;
  color: white;
  width: 70%;
  text-align: center;
  line-height: 70px;
  font-size: 2.5rem;
  font-style: italic;
}
.about-testimonial p .testimonial-sub-text {
  font-size: 1.5rem;
}

.our-food-container {
  height: 100vh;
  overflow: hidden;
}
.our-food-container h2 {
  text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
  color: #FFDDF8;
}
.our-food-container .our-food-content {
  height: 70vh;
}
.our-food-container .our-food-content .food-content-text {
  padding: 0 50px 50px 50px;
}
.our-food-container .our-food-content .food-content-text .bold-text {
  font-weight: 800;
}

.our-food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

.our-food-grid-item-1 {
  grid-area: 1/1/2/2;
  background-image: url(./images/ourfood1.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-food-grid-item-2 {
  grid-area: 2/1/3/2;
  background-image: url(./images/ourfood2.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-food-grid-item-3 {
  grid-area: 1/2/2/3;
  background-image: url(./images/ourfood3.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-food-grid-item-4 {
  grid-area: 2/2/3/3;
  background-image: url(./images/ourfood4.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-food-grid-item-5 {
  grid-area: 1/3/2/4;
  background-image: url(./images/ourfood5.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-food-grid-item-6 {
  grid-area: 2/3/3/4;
  background-image: url(./images/ourfood6.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-beverages-container {
  height: 100vh;
  overflow: hidden;
}
.our-beverages-container .our-beverages-content {
  height: 70vh;
}
.our-beverages-container .our-beverages-content .beverages-content-text {
  padding: 0 50px 50px 0;
}
.our-beverages-container .our-beverages-content .beverages-content-text .bold-text {
  font-weight: 800;
}

.our-beverages-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

.our-beverages-grid-item-1 {
  grid-area: 1/1/3/2;
  background-image: url(./images/ourbeverages1.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-beverages-grid-item-2 {
  grid-area: 1/2/2/3;
  background-image: url(./images/ourbeverages2.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-beverages-grid-item-3 {
  grid-area: 2/2/3/3;
  background-image: url(./images/ourbeverages3.jpg);
  background-size: cover;
  border-radius: 30px;
}

.our-beverages-grid-item-4 {
  grid-area: 1/3/3/4;
  background-image: url(./images/ourbeverages4.jpg);
  background-size: cover;
  border-radius: 30px;
}

.functions-container {
  height: 100vh;
  overflow: hidden;
}
.functions-container h2 {
  text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
  color: #FFDDF8;
}
.functions-container .functions-content {
  height: 70vh;
}
.functions-container .functions-content .functions-content-text {
  padding: 0 50px 50px 50px;
}
.functions-container .functions-content .functions-content-text p {
  font-size: 1.5rem;
  color: #BDEBFF;
  font-weight: 100;
  padding-bottom: 30px;
}
.functions-container .functions-content .functions-content-text .functions-list li {
  font-size: 1.5rem;
  color: #BDEBFF;
  font-weight: 100;
  padding-bottom: 20px;
}
.functions-container .functions-content .functions-content-text .contact-us-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.functions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}

.functions-grid-item-1 {
  grid-area: 1/1/2/2;
  background-image: url(./images/functions1.jpg);
  background-size: cover;
  border-radius: 30px;
}

.functions-grid-item-2 {
  grid-area: 2/1/3/2;
  background-image: url(./images/functions2.jpg);
  background-size: cover;
  border-radius: 30px;
}

.functions-grid-item-3 {
  grid-area: 1/2/3/3;
  background-image: url(./images/functions3.jpg);
  background-size: cover;
  border-radius: 30px;
}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 150px;
}
.contact-header h2 {
  font-size: 4rem;
  font-family: Anton, sans-serif;
  color: #BDEBFF;
  font-weight: 100;
  text-transform: uppercase;
  color: #BDEBFF;
  text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
  padding-bottom: 50px;
}
.contact-header .contact-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  color: white;
  height: 70vh;
  line-height: 3rem;
}
.contact-header .contact-details-container h3 {
  font-size: 3rem;
  color: #BDEBFF;
  padding-top: 3rem;
}
.contact-header .contact-details-container p,
.contact-header .contact-details-container a {
  font-size: 2rem;
  color: #BDEBFF;
  text-decoration: none;
}
.contact-header .contact-details-container i {
  color: #BDEBFF;
  font-size: 5rem;
  padding: 5vh 5vh 0 0;
}

.contact-booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110vh;
}
.contact-booking-form .form-container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 80%;
  padding: 5rem;
  border-radius: 30px;
  border: 5px solid white;
  box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
}
.contact-booking-form .form-container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 2rem;
}

form .submit-button {
  width: 20%;
  height: 6vh;
  padding: 8px;
  margin-left: 40%;
  border: 5px solid #ffffff;
  color: white;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-row .form-group {
  flex: 1;
  margin-right: 10px;
}
.form-row .form-group:last-child {
  margin-right: 0;
}
.form-row .form-group label {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
}
.form-row .form-group input[type=text],
.form-row .form-group input[type=email],
.form-row .form-group input[type=number],
.form-row .form-group input[type=tel],
.form-row .form-group input[type=date],
.form-row .form-group input[type=time],
.form-row .form-group textarea {
  width: 100%;
  height: 6vh;
  padding: 8px;
  border: 5px solid #ffffff;
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;
  color: rgb(154, 154, 154);
}

.submit-button:hover {
  background-color: rgb(178, 178, 178);
  transition: 500ms;
  cursor: pointer;
}

.submit-button:focus {
  background-color: rgb(121, 230, 121);
}

.contact-access-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 0 10% 0 10%;
}
.contact-access-container .contact-blue-orb {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #2096C9;
  box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
  -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
  position: relative;
  left: 100%;
  z-index: -1;
}
.contact-access-container .contact-pink-orb {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #FF38D3;
  box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
  -webkit-box-shadow: 0px 0px 150px 200px rgb(255, 56, 211);
  -moz-box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
  position: relative;
  right: 10%;
  top: 200px;
  z-index: -1;
}
.contact-access-container .map-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.contact-access-container .map-details h3 {
  font-size: 3rem;
  color: #FFDDF8;
  text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
  padding: 2rem 0 2rem 0;
}
.contact-access-container .map-details .map iframe {
  border-radius: 30px;
}
.contact-access-container .opening-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
}
.contact-access-container .opening-hours h3 {
  font-size: 3rem;
  color: #BDEBFF;
  text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
  padding: 2rem 0 2rem 0;
}
.contact-access-container .opening-hours .hours-details {
  width: 90%;
  border-radius: 30px;
  background-color: rgba(37, 37, 37, 0.5);
  padding: 5% 0 5% 0;
}
.contact-access-container .opening-hours .hours-details p {
  text-align: center;
  font-size: 2rem;
  color: #BDEBFF;
  line-height: 3.4rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  padding: 0 3rem 0 0;
}
.footer .footer__logo {
  width: 40%;
  height: 80%;
}
.footer .footer__logo img {
  width: 80%;
  padding-left: 80px;
}
.footer .footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 30px;
  height: 80%;
  padding-top: 30px;
}
.footer .footer__content-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 90%;
  width: 15%;
  color: white;
  gap: 20px;
  font-size: 1.2rem;
}
.footer .footer__content-column .footer__quick-links a {
  text-decoration: none;
}
.footer .footer__content-column .footer__icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 3rem;
  text-decoration: none;
}
.footer .footer__content-column .footer__icons .footer__icons {
  text-decoration: none;
}
.footer .footer__content-column a {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-container .navbar {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding: 0 2% 0 1%;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 20px 5px #2096C9;
    border: 5px solid #2096C9;
  }
  .hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 1.5rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-bottom: 4px;
    margin-top: 12px;
    /* margin-left: 17px; */
    color: #FFDDF8;
    text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
    box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    border: 2px solid #BDEBFF;
  }
  .hamburger #closeHam {
    display: none;
  }
  #navigationItems {
    /* display: none; */
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: -4px;
    width: 100%;
    height: calc(118vh - 5rem);
    background-color: black;
    padding-top: 10rem;
    gap: 5vh;
    z-index: -1;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding-top: 120px;
  }
  .header-container img {
    width: 87%;
  }
  .quick-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 136vh;
  }
  .quick-link-container .quick-link-container__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 102vh;
    gap: 4rem;
  }
  .quick-link-container .quick-link-container__card-container .quick-link-card {
    padding: 30px;
  }
  .quick-link-container .quick-link-container__card-container .quick-link-card__title {
    font-size: 1.5rem;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 20px;
    text-decoration: none;
  }
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    overflow: hidden;
  }
  .about-container .about-container__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.5);
    height: 110vh;
    padding: 37px;
    border-radius: 30px;
  }
  .about-container .about-container__content .about-container__content-text {
    width: 100%;
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .about-container .about-container__content .about-container__img {
    width: 70%;
    border-radius: 30px;
  }
  .instagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  .instagram-container .instagram__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 90%;
    height: 100%;
    padding: 2%;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding-top: 120px;
  }
  .about-header {
    margin: 0;
  }
  .our-story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    text-align: center;
  }
  .our-story .about-container__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.5);
    height: 114vh;
    padding: 37px;
    border-radius: 30px;
  }
  .about-testimonial {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    height: 30vh;
    overflow: hidden;
  }
  .about-testimonial p {
    font-weight: 10;
    color: white;
    width: 90%;
    text-align: center;
    line-height: 2;
    font-size: 1.5rem;
    font-style: italic;
  }
  .about-testimonial p .testimonial-sub-text {
    font-size: 1rem;
  }
  .our-food-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    overflow: hidden;
    text-align: center;
    /* width: 80%; */
  }
  .our-food-container .our-food-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.5);
    height: 105vh;
    padding: 37px;
    border-radius: 30px;
  }
  .our-food-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    height: 39vh;
  }
  .our-food-container .our-food-content .food-content-text {
    width: 100%;
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .our-food-container .our-food-content .food-content-text {
    padding: 0;
  }
  .our-food-container .our-food-content .food-content-text p {
    padding-bottom: 29px;
    padding-top: 53px;
  }
  .our-beverages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 127vh;
    overflow: hidden;
    text-align: center;
    /* width: 80%; */
  }
  .our-beverages-container .our-beverages-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.5);
    height: 114vh;
    padding: 37px;
    border-radius: 30px;
  }
  .our-beverages-container .our-beverages-content .beverages-content-text {
    width: 100%;
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .our-beverages-container .our-beverages-content .beverages-content-text {
    font-size: 1.5rem;
    font-weight: 100;
    color: #BDEBFF;
    width: 90%;
    padding: 30px 0 50px 0;
  }
  .our-beverages-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    height: 50vh;
  }
  .functions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 180vh;
    overflow: hidden;
    text-align: center;
    /* width: 80%; */
  }
  .functions-container h2 {
    text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
    color: #FFDDF8;
    width: 80%;
  }
  .functions-container .functions-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: rgba(37, 37, 37, 0.5);
    height: 122vh;
    padding: 37px;
    border-radius: 30px;
  }
  .functions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    height: 47vh;
  }
  .functions-container .functions-content .functions-content-text {
    padding: 50px 50px 20px 50px;
  }
  .about-blue-orb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #2096C9;
    box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
    -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    position: relative;
    left: 50%;
    top: -295px;
    z-index: -1;
  }
  .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 162px;
  }
  .contact-header .contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 102vh;
    line-height: 3rem;
    padding-top: 50vh;
  }
  .contact-header h2 {
    font-size: 3rem;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
    padding-bottom: 75px;
  }
  .contact-header .contact-details-container .contact-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact-header .contact-details-container h3 {
    font-size: 3rem;
    color: #BDEBFF;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .contact-header .contact-details-container p,
  .contact-header .contact-details-container a {
    font-size: 2rem;
    color: #BDEBFF;
    text-decoration: none;
  }
  .contact-header .contact-details-container i {
    color: #BDEBFF;
    font-size: 5rem;
    padding: 5vh 0vh 0 0;
  }
  .contact-details-container img {
    transform: scale(0.7);
    position: relative;
    bottom: 145px;
  }
  .contact-access-container .contact-blue-orb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #2096C9;
    box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
    -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    position: relative;
    left: 50%;
    top: 700px;
    z-index: -1;
  }
  .contact-access-container .contact-pink-orb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #FF38D3;
    box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(255, 56, 211);
    -moz-box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
    position: relative;
    right: 50%;
    top: 200px;
    z-index: -1;
  }
  .contact-booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170vh;
  }
  .contact-booking-form__title {
    z-index: 2;
    padding-bottom: 50px;
    font-size: 3rem;
    width: 80%;
    text-align: center;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
  }
  .contact-booking-form .form-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 60%;
    padding: 2rem;
    border-radius: 30px;
    border: 5px solid white;
    box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  }
  .contact-booking-form .form-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .form-row {
    display: flex;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .form-row .form-group {
    flex: 1;
    /* margin-right: 10px; */
    padding-bottom: 27px;
  }
  .form-row .form-group label {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: white;
  }
  .form-row .form-group input[type=text],
  .form-row .form-group input[type=email],
  .form-row .form-group input[type=number],
  .form-row .form-group input[type=tel],
  .form-row .form-group input[type=date],
  .form-row .form-group input[type=time],
  .form-row .form-group textarea {
    width: 100%;
    height: 6vh;
    padding: 17px;
    border: 5px solid #ffffff;
    background-color: transparent;
    border-radius: 30px;
    box-sizing: border-box;
    color: rgb(154, 154, 154);
  }
  form .submit-button {
    width: 50%;
    height: 6vh;
    padding: 8px;
    margin-left: 25%;
    border: 5px solid #ffffff;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
  }
  .contact-access-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130vh;
    padding: 0 10% 0 10%;
  }
  .contact-access-container .map-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 48%;
  }
  .contact-access-container .map-details .map iframe {
    border: 0;
    height: 364px;
    width: 552px;
  }
  .contact-access-container .opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
  }
  .contact-access-container .opening-hours h3 {
    font-size: 3rem;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
    padding: 2rem 0 2rem 0;
    text-align: center;
  }
  .contact-access-container .opening-hours .hours-details {
    width: 90%;
    border-radius: 30px;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 5% 4% 5% 4%;
  }
  .contact-access-container .opening-hours .hours-details p {
    text-align: center;
    font-size: 1.5rem;
    color: #BDEBFF;
    line-height: 3.4rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
    padding: 0 0 3rem 0;
  }
  .footer .footer__logo {
    width: 81%;
    padding: 5% 0 0 5%;
    height: 83%;
  }
  .footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    height: 100%;
    padding-top: 30px;
  }
  .footer .footer__content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 90%;
    color: white;
    gap: 20px;
    font-size: 1.2rem;
  }
  .footer .footer__content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 90%;
    color: white;
    gap: 20px;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 425px) {
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    /* Adjusted height */
    padding: 10px 0;
    /* Adjusted padding */
    position: fixed;
    z-index: 100;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* Adjusted width */
    height: 100%;
    padding: 0 5% 0 2%;
    /* Adjusted padding */
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    /* Adjusted border-radius */
    border: 5px solid #2096C9;
  }
  .nav-container .navbar .navbar__logo-container {
    width: 55%;
  }
  .navbar__logo {
    width: 80%;
  }
  .navbar__link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    /* Adjusted gap */
  }
  .navbar__link-item {
    font-size: 1.2rem;
    /* Adjusted font size */
  }
  .hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 1.5rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-bottom: 4px;
    margin-top: 9px;
    /* margin-left: 17px; */
    color: #FFDDF8;
    text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
    box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    border: 2px solid #BDEBFF;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* Adjusted height */
    padding-top: 100px;
    /* Adjusted padding */
  }
  .header-container img {
    width: 89%;
  }
  .quick-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    /* Adjusted height */
  }
  .quick-link-container h2 {
    font-size: 3rem;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
    padding: 50px;
    text-align: center;
  }
  .quick-link-container .quick-link-container__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* Adjusted width */
    height: 90vh;
    /* Adjusted height */
    gap: 20px;
    /* Adjusted gap */
  }
  .quick-link-container .quick-link-container__card-container .quick-link-card {
    width: 92%;
    height: 90%;
    background-color: white;
    border-radius: 30px;
    padding: 20px 0 0 20px;
    transition: linear 300ms;
    text-decoration: none;
  }
  .quick-link-card__title {
    font-size: 1.5rem;
    /* Adjusted font size */
    padding-bottom: 10px;
    /* Adjusted padding */
  }
  p {
    font-size: 1rem;
    /* Adjusted font size */
    padding-bottom: 10px;
    /* Adjusted padding */
  }
  .btn {
    width: 100px;
    height: 50px;
    border: 3px solid #2096C9;
    border-radius: 20px;
    /* Adjusted border-radius */
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    /* Adjusted font size */
  }
  .quick-link-card--1,
  .quick-link-card--2,
  .quick-link-card--3 {
    height: 40vh;
    /* Adjusted height */
  }
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 115vh;
    overflow: hidden;
  }
  .about-container h2 {
    font-size: 3rem;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    padding-bottom: 50px;
  }
  .about-container .about-container__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    background-color: rgba(37, 37, 37, 0.5);
    height: 85vh;
    padding: 40px;
    border-radius: 30px;
  }
  .about-container__content-text {
    width: 100%;
  }
  .about-container .about-container__content p {
    font-size: 1.2rem;
    font-weight: 100;
    color: #BDEBFF;
    width: 100%;
    padding-bottom: 30px;
  }
  .about-container .about-container__content .about-container__img {
    width: 80%;
    margin-top: 30px;
  }
  .services-card--1,
  .services-card--2,
  .services-card--3 {
    height: 200px;
    /* Adjusted height */
  }
  .instagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  .instagram-container h2 {
    font-size: 3rem;
    text-align: center;
    font-family: Anton, sans-serif;
    color: #FFDDF8;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 0 0 10px #FF38D3, 0 0 20px #FF38D3;
    padding-bottom: 10px;
  }
  .instagram-container a {
    text-decoration: none;
    font-size: 2rem;
    color: #FF38D3;
  }
  .instagram-container .instagram__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 90%;
    height: 90%;
    padding: 5%;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
    margin: 0;
  }
  .our-story {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .our-story .about-pink-orb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #FF38D3;
    box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(255, 56, 211);
    -moz-box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
    position: relative;
    right: 55%;
    top: 343px;
    z-index: -1;
  }
  .our-story .about-blue-orb-2 {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #2096C9;
    box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
    -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    position: relative;
    left: 55%;
    top: 300px;
    z-index: -1;
  }
  .about-testimonial {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    height: 40vh;
    overflow: hidden;
  }
  .about-testimonial p {
    font-weight: 10;
    color: white;
    width: 80%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    font-style: italic;
  }
  .about-testimonial p .testimonial-sub-text {
    font-size: 1rem;
  }
  .our-food-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 118vh;
    overflow: hidden;
  }
  .about-container .about-container__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 90%; */
    text-align: center;
    background-color: rgba(37, 37, 37, 0.5);
    height: 100vh;
    /* padding: 40px; */
    border-radius: 30px;
  }
  .our-food-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    height: 21vh;
  }
  .our-food-container .our-food-content .food-content-text {
    padding: 40px 0px 4px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .our-beverages-container {
    height: 115vh;
  }
  .our-beverages-container h2 {
    font-size: 3rem;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    padding-bottom: 50px;
    width: 80%;
    text-align: center;
  }
  .our-beverages-container .our-beverages-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 90%; */
    text-align: center;
    background-color: rgba(37, 37, 37, 0.5);
    height: 95vh;
    /* padding: 40px; */
    border-radius: 30px;
  }
  .our-beverages-container .our-beverages-content .beverages-content-text {
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .our-beverages-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    height: 21vh;
  }
  .functions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    overflow: hidden;
  }
  .functions-container .functions-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 90%; */
    text-align: center;
    background-color: rgba(37, 37, 37, 0.5);
    height: 100vh;
    /* padding: 40px; */
    border-radius: 30px;
  }
  .functions-container h2 {
    font-size: 3rem;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    padding-bottom: 50px;
    width: 80%;
    text-align: center;
  }
  .functions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    gap: 15px;
    width: 100%;
    height: 21vh;
  }
  .functions-container .functions-content .functions-content-text {
    padding: 0;
  }
  .functions-container .functions-content .functions-content-text p {
    font-size: 1.2rem;
    font-weight: 100;
    color: #BDEBFF;
    width: 100%;
    padding: 30px 0 30px 0;
  }
  .functions-container .functions-content .functions-content-text .functions-list li {
    font-size: 1.2rem;
    color: #BDEBFF;
    font-weight: 100;
    padding-bottom: 20px;
  }
  .contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 130px;
  }
  .contact-header .contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: white;
    height: 90vh;
    line-height: 3rem;
    padding-top: 50vh;
  }
  .contact-header h2 {
    font-size: 3rem;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
    padding-bottom: 55px;
  }
  .contact-header .contact-details-container .contact-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact-header .contact-details-container h3 {
    font-size: 2rem;
    color: #BDEBFF;
    padding-top: 3rem;
  }
  .contact-header .contact-details-container p,
  .contact-header .contact-details-container a {
    font-size: 1.3rem;
    color: #BDEBFF;
    text-decoration: none;
  }
  .contact-header .contact-details-container i {
    color: #BDEBFF;
    font-size: 5rem;
    padding: 5vh 0vh 0 0;
  }
  .contact-details-container img {
    transform: scale(0.5);
    position: relative;
    bottom: 250px;
  }
  .contact-booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170vh;
  }
  .contact-booking-form__title {
    z-index: 2;
    padding-bottom: 20px;
    font-size: 3rem;
    width: 80%;
    text-align: center;
    font-family: Anton, sans-serif;
    color: #BDEBFF;
    font-weight: 100;
    text-transform: uppercase;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
  }
  .contact-booking-form .form-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 80%;
    padding: 2rem;
    border-radius: 30px;
    border: 5px solid white;
    box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -webkit-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
    -moz-box-shadow: 0px 0px 200px 70px rgba(32, 150, 201, 0.75);
  }
  .contact-booking-form .form-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .form-row {
    display: flex;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-row .form-group {
    flex: 1;
    /* margin-right: 10px; */
    padding-bottom: 27px;
  }
  .form-row .form-group label {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: white;
  }
  .form-row .form-group input[type=text],
  .form-row .form-group input[type=email],
  .form-row .form-group input[type=number],
  .form-row .form-group input[type=tel],
  .form-row .form-group input[type=date],
  .form-row .form-group input[type=time],
  .form-row .form-group textarea {
    width: 100%;
    height: 6vh;
    padding: 17px;
    border: 5px solid #ffffff;
    background-color: transparent;
    border-radius: 30px;
    box-sizing: border-box;
    color: rgb(154, 154, 154);
  }
  form .submit-button {
    width: 50%;
    height: 6vh;
    padding: 8px;
    margin-left: 25%;
    border: 5px solid #ffffff;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
  }
  .contact-access-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130vh;
    padding: 0 10% 0 10%;
  }
  .contact-access-container .map-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 40%;
  }
  .contact-access-container .map-details .map iframe {
    border: 0;
    width: 100%;
    height: 300px;
  }
  .contact-access-container .opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
  }
  .contact-access-container .opening-hours h3 {
    font-size: 3rem;
    color: #BDEBFF;
    text-shadow: 0 0 10px #2096C9, 0 0 20px #2096C9;
    padding: 2rem 0 2rem 0;
    text-align: center;
  }
  .contact-access-container .opening-hours .hours-details {
    width: 90%;
    border-radius: 30px;
    background-color: rgba(37, 37, 37, 0.5);
    padding: 5% 4% 5% 4%;
  }
  .contact-access-container .opening-hours .hours-details p {
    text-align: center;
    font-size: 1.5rem;
    color: #BDEBFF;
    line-height: 3.4rem;
  }
  .contact-access-container .contact-blue-orb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #2096C9;
    box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(32, 150, 201);
    -moz-box-shadow: 0px 0px 214px 200px rgb(32, 150, 201);
    position: relative;
    left: 41%;
    z-index: -1;
  }
  .contact-access-container .contact-pink-orb {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #FF38D3;
    box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
    -webkit-box-shadow: 0px 0px 150px 200px rgb(255, 56, 211);
    -moz-box-shadow: 0px 0px 214px 200px rgb(255, 56, 211);
    position: relative;
    right: 10%;
    top: 788px;
    z-index: -1;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 105vh;
    padding: 0;
  }
  .footer .footer__logo {
    width: 100%;
    height: 13%;
  }
  .footer .footer__logo img {
    width: 80%;
    padding-left: 60px;
  }
  .footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    height: 80%;
    padding-top: 30px;
  }
  .footer .footer__quick-links {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer .footer__content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: start;
    height: 90%;
    width: 38%;
    color: white;
    gap: 20px;
    text-align: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
  }
  .footer .footer__content-column a {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
  }
  .footer .footer__content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: start;
    height: 90%;
    width: 38%;
    color: white;
    gap: 20px;
    text-align: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
  }
  .footer .footer__content-column a {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
  }
  .footer .footer__content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: start;
    height: 90%;
    width: 38%;
    color: white;
    gap: 20px;
    text-align: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */